<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="hello-demo"/>

        <!-- 使用zookeeper注册中心暴露服务地址 -->
<!--        <dubbo:registry address="zookeeper://192.168.23.242:2181"/>-->

        <!--
       组播受网络结构限制，只适合小规模应用或开发阶段使用。组播地址段: 224.0.0.0 - 239.255.255.255
       -->
        <!-- 使用multicast广播注册中心暴露服务地址 -->
        <dubbo:registry address="multicast://224.8.8.8:1234"/>

        <dubbo:protocol name="dubbo" port="20880"/>

        <dubbo:service interface="com.zy.dubbo.service.HelloService" ref="helloService"/>

        <bean id="helloService" class="com.zy.dubbo.service.impl.HelloServiceImpl"/>

    </beans>